.services-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block: 120px;
    padding-inline: 100px;
}

.services-line {
    width: 90%;
    max-width: 1200px; 
    height: 3px;
    background-color: #EB9424; 
}

.services-catering,
.services-bakeries,
.services-cakes {
    margin-block: 50px;
    width: 90%;
}

.services-sitortilla {
    margin-top: 70px;
    margin-bottom: 50px;
}

.services-catering,
.services-sitortilla,
.services-bakeries,
.services-cakes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.services-catering,
.services-cakes {
    text-align: right;
}

.services-text {
    width: 60%;
    height: auto;
    font-size: 14pt;
}

.services-image {
    width: 30%;
    height: auto;
}

.services-bakeries-images {
    width: 100%;
}

.services-wrapper iframe, 
.services-wrapper video,
.services-wrapper img {
    border: 3px solid #EB9424;
    -webkit-box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
}