.products-wrapper {
    margin-top: 100px;
    min-height: fit-content;
    text-align: center;
    font-size: 14pt;
    animation: slideInFromTop 0.8s ease forwards; /* Animacija dolaska sa gornje strane */
}

.products-description {
    padding-inline: 10%;
}

.products-catalog {
  margin-top: 100px;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-60vh); /* Početno pozicioniranje izvan ekrana */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Završno pozicioniranje na svoj krajnji položaj */
      opacity: 1;
    }
  }