.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  
  .line-1,
  .line-2 {
    width: 500px;
    max-width: 500px; 
    height: 3px;
    background-color: #EB9424; 
  }

  .line-1 {
    margin-inline-end: 20px;
  }

  
  .line-2 {
    margin-inline-start: 25px;
  }
  
  .counter {
    min-width: 170px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-block: 0px;
  }
  
  @media (max-width: 480px) {
    .counter {
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-block: 0px;
    }
    
    .line {
      margin: 0;
    }

    .counter-container {
      width: 90%;
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    .counter {
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-block: 0px;
    }

    .line {
      margin: 0;
    }

    .counter-container {
      width: 90%;
      max-width: 90%;
    }
  }