.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    width: 500px;
    max-width: 500px; 
    height: 3px;
    background-color: #EB9424; 
    margin: 0 15px; 
  }
  
  .counter {
    min-width: 170px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-block: 0px;
  }
  
  @media (max-width: 480px) {
    .line {
      width: 100px;
      max-width: 100px; 
      height: 3px;
      background-color: #EB9424; 
      margin: 0 15px; 
    }
  }

  @media (max-width: 768px) {
    .counter {
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-block: 0px;
    }
  }