.numberinfo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.numberinfo-text {
    font-size: 20pt;
    font-weight: bold;
}

@media (max-width: 480px) {
    .line {
        width: 100px;
        max-width: 100px; 
        height: 3px;
        background-color: #EB9424; 
        margin: 0 15px; 
    }
}

@media (max-width: 768px) {
    .numberinfo-text {
        font-size: 12pt;
        font-weight: bold;
    }
}