.contact-wrapper {
    margin-top: 150px;
    animation: slideInFromTop 0.8s ease forwards; /* Animacija dolaska sa gornje strane */
}

.contact-maps {
    display: flex;
}

.contact-map {
    align-items: flex-end;
}

.contact-manifacture {
    align-items: flex-start;
}

.contact-map,
.contact-manifacture {
    display: flex;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    flex: 1;
}

.contact-map p,
.contact-manifacture p {
    font-size: 25pt;
    font-weight: bold;
    margin: 0;
}

.contact-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact-info img {
    width: 40px;
    height: max-content;
    margin-right: 20px;
}

.contact-info p {
    display: flex;
    font-size: 20pt;
    font-weight: bold;
    margin: 15px;
}

.contact-map-iframe {
    margin-top: 20px;
    border: 3px solid #EB9424;
    -webkit-box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -11px rgba(0,0,0,0.75);
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-60vh); /* Početno pozicioniranje izvan ekrana */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Završno pozicioniranje na svoj krajnji položaj */
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    .contact-wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }

    .contact-maps {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .contact-map,
    .contact-manifacture {
        display: flex;
        padding: 10px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .contact-map-iframe {
        width: 95%;
        height: 250px;
    }

    .contact-map-bakeries,
    .contact-map-manifacture {
        width: 100%;
    }

    .contact-map p,
    .contact-manifacture p {
        font-size: 16pt;
    }

    .contact-info {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column; 
        width: 95%;
    }

    .contact-info p {
        display: flex;
        font-size: 14pt;
        font-weight: bold;
        margin: 5px;
        padding-inline: 10px;
    }

    .contact-info img {
        width: 30px;
        height: max-content;
        margin-right: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .contact-wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }

    .contact-maps {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .contact-map,
    .contact-manifacture {
        display: flex;
        padding: 10px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .contact-map-iframe {
        width: 95%;
        height: 250px;
    }

    .contact-map-bakeries,
    .contact-map-manifacture {
        width: 100%;
    }

    .contact-map p,
    .contact-manifacture p {
        font-size: 16pt;
    }

    .contact-info {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column; 
        width: 95%;
    }

    .contact-info p {
        display: flex;
        font-size: 14pt;
        font-weight: bold;
        margin: 5px;
        padding-inline: 10px;
    }

    .contact-info img {
        width: 30px;
        height: max-content;
        margin-right: 20px;
    }
  }