.header {
  background: #EB9424;
  padding: 20px 0;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.header.sticky {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 80px; 
  width: auto; 
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #F0E9EB;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: rgba(50, 43, 1, 0.744);
}

@media (max-width: 468px) {
  .header.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .container {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .container {
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
}